{% extends 'layout.html' %}
{% block content %}
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">North Carolina State University</h3>
                    <div class="subheading mb-3">Doctor of Philosophy</div>
                    <div>Industrial Engineering</div>
                    <div>Dissertation: <em><a href="https://repository.lib.ncsu.edu/handle/1840.20/38500" target="_blank">Study of Decentralized Cloud Manufacturing Platforms Powered by Blockchains and Deep Learning</a></em></div>
                    <p>GPA: 4.00</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2016 - May 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">North Carolina State University</h3>
                    <div class="subheading mb-3">Master of Science</div>
                    <div>Mechanical Engineering</div>
                    <p>GPA: 4.00</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2014 - May 2016</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Bangladesh University of Engineering & Technology</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Mechanical Engineering</div>
                    <p>GPA: 3.63</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2008 - February 2013</span></div>
            </div>
            <br>
            <div><a href="https://drive.google.com/file/d/11v9LxOZ67g17QzEBC1aPhWEnB3amUIek/view?usp=sharing" target="_blank">Resume</a>-Updated on March, 2022</div>
        </div>
    </section>

{% endblock %}
