{% extends 'layout.html' %}

{% block content %}
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Mahmud Hasan, Ph.D.
            </h1>
            <div class="subheading mb-5">
                BOISE, ID 83716 · (919) 986-2861 ·
                <a href="mailto:mhasan3@alumni.ncsu.edu">mhasan3@alumni.ncsu.edu</a>
            </div>
            <p class="lead mb-5">Machine Learning Engineer · Data Scientist · Rookie Pythonista · Emerging Gopher · PhD in Industrial & Systems Engineering ·</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/mhasan3/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/nombreinvicto" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://scholar.google.com/citations?hl=en&user=nJJcwd8AAAAJ&view_op=list_works&sortby=pubdate" target="_blank" rel="noopener noreferrer"><i class="fab fa-google"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0"/>
{% endblock %}