{% extends "layout.html" %}

{% block content %}

    <!-- Education-->
    <section class="resume-section" id="research">
        <div class="resume-section-content">
            <h2 class="mb-5">Research</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div>
                        My research interest primarily spans across the fields of Cyber-physical Systems and Digital Manufacturing. My specialisation
                        is in Applied Machine Learning and Blockchain Technology within the domain of manufacturing. A lot of what I do in my work and as a hobby involves
                        finding out ways to exploit the boons of Artificial Intelligence and Distributed Systems to make contemporary manufacturing
                        paradigms more intelligent.
                    </div>
                    <br>
                    <div>
                        Visit my <a href="https://scholar.google.com/citations?hl=en&user=nJJcwd8AAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a> profile to know more about my most recent research publications and my PhD dissertation!
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

